.excel--button{
border: 1px solid blue;
padding: 6px;
display: block;
margin:8px auto;
text-align: center;
width: 150px;
color: rgb(237, 228, 228);
background-color: rgb(26, 24, 24);
border-radius: 6px;
cursor: pointer;
}
.excel--button:hover{
    background-color: rgb(54, 44, 44);
}
.hyper--cell{
    text-decoration: none;
    color: rgb(26, 24, 24);
}

/* .btns:disabled{
    cursor: help;
} */
 .btnss{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
 }
 .btnses{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
 }